{
  "parser": "babel-eslint",
  "extends": [
    "airbnb/base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "colors" }],
    "radix": 0,
    "import/extensions": 0,
  }
}
